environment         = "dev"
subscription_family = "student-solutions"
app_name            = "student-sessions"
purpose             = "session"
tier                = "s"
persistence_mode    = "snapshot-every-6-hours"
data_eviction       = "allkeys-lru"

application_role_arn = "arn:aws:iam::111122223333:role/frontline-student-sessions-dev"

# Optional:
# subscription_name_override = "sub-fle-student-solutions"
