environment         = "dev"
subscription_family = "student-solutions"
app_name            = "student-sessions"
purpose             = "session"
tier                = "s"
persistence_mode    = "snapshot-every-6-hours"
data_eviction       = "allkeys-lru"

application_role_arns = [
  "arn:aws:iam::111122223333:role/frontline-student-sessions-dev"
]

# Optional:
# temporary       = true
# expiration_date = "2026-04-30"
# access_level    = "readonly"
# service_account_purpose = "pipeline"
